body {
    background-color: #2c3840;
    font-weight: 500;
}

.white-body {
    background-color: #f7f7f7;
}

.nav-item {
    border-left: 1px solid rgba(81, 79, 91, 0.792);
    border-right: 1px solid rgba(81, 79, 91, 0.792);
    font-weight: bold;
    font-size: medium;
}

header {
    background-image: url("../images/back.jpg");
    background-size: cover;
    height: 100vh;
    animation: headerMove 10s forwards;
    background-position: center;
    background-attachment: fixed;
    text-shadow: 2px 2px black;	
}

header h1 {
    animation: titleEntrance 3s forwards;
}

#headerHr {
    color: #91aabc;
    opacity: 1;
    height: 10px;
}

@keyframes titleEntrance {
    from {color: rgba(255, 255, 255, 0)}
    to {color: rgba(255, 255, 255, 1)}
}

header p {
    animation: textEntrance 3s forwards;
}

@keyframes textEntrance {
    from {color: rgba(255, 255, 255, 0)}
    to {color: rgba(255, 255, 255, 0.8)}
}

@keyframes headerMove {
    from {background-position: top;}
    to {background-position: center;}
}

.btn-starting {
    color: #eaf7fe;
    background-color: #1583cc7a;
    box-shadow: black 3px 3px 3px;
}

.btn-starting:hover {
    background-color: #1583cc;
}

.snow-bg {
    background-image: url('https://static.vecteezy.com/system/resources/previews/008/063/306/original/kraft-paper-yellow-vintage-background-with-dot-old-paper-texture-with-copy-space-for-design-page-book-web-illustration-free-vector.jpg');
    background-color: #b8cddd;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

#features {
    margin-bottom: 28vh;
}

.quote {
    padding-top: 50vh;
    color: #333;
}

.special-cards {
    color: #333;
    border-radius: 5px;
    padding: 30px;
    margin: 2.5%;
    background-color: #f7f7f7;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    position: relative;
    left: -20vw;
    opacity: 0;
}

.slider {
    animation: slide 1.5s forwards ease-in;
}

@keyframes slide {
    from {left: -30vw; opacity: 0;}
    to {left: 0; opacity: 1;}
}

.row-cols-md-new > * {
    flex: 0 0 auto;
    width: 45%;
  }

.h2 {
    font-weight: bold;
}

.special-cards hr {
    height: 10px;
    width: 0%;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    margin-bottom: 10px;
}

.special-cards img {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.special-cards:hover #underline-hr1 {
    animation-name: appearing-line-1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes appearing-line-1 {
    from {width: 0%;}
    to {width: 100%; color: rgb(156,132,111)}
}

.special-cards:hover #underline-hr2 {
    animation-name: appearing-line-2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes appearing-line-2 {
    from {width: 0%;}
    to {width: 100%; color: rgb(136, 148, 166)}
}

.col-lg-12.full-height {
    height: 70vh;
    margin-bottom: 40vh;
}

#sources {
    margin-bottom: -20vh !important;
}



#poem > p, #project > p, #sources > p {
    font-size: 1.2vw;
    width: 55%;
    display: inline-block;
    text-align: justify;
}

#poem > img {
    position: absolute;
    height: 70vh;
    display: inline-block;
    margin-top: -10vh;
    margin-left: 5%;
    border-radius: 10px;
}
#project > img, #sources > img {
    position: absolute;
    width: 25vw;
    display: inline-block;
    margin-top: -10vh;
    margin-left: 5%;
    border-radius: 10px;
}

.bolder {
    font-weight: bolder;
}

#technologies {
    width: 100%;
    margin-top: -30vh;
}

#technologies h3 {
    font-size: 40px;
    text-align: center;
    color: #f7f7f7;
    padding-bottom: 50px;
}

.tech {
    width: 31%;
    display: inline-block;
    background-color: #f7f7f7;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
    height: 350px;
    margin-left: 1.75%;
    margin-bottom: -200px;
}

.tech img {
    width: 60%; 
    margin-left: 20%;
}

/* documentation */

#menu-left {
    position: fixed;
    top: 200px;
    left: 50px;
    border-right: 1px solid #aaaaaa;
    padding-right: 35px;
    height: calc(100vh - 200px);
    color: black;
}

.blue-title {
    color: #548fc3;
    top: 119px;
    position: fixed;
    left: 70px;
}

#menu-left ul {
    list-style: none;
}

#menu-left ul li::before {
    content: "+ ";
    color: #548fc3;
    font-weight: bolder;
}

#displayed-content > div {
    display: block;
    margin-left: 360px;
    text-align: justify;
    margin-right: 50px;
    margin-top: 200px;
    color:black;
}

.hidden {
    display: none !important;
}

h5 {
   color: #548fc3;
   text-decoration: underline;
   text-decoration-color: #548fc3;
   padding-bottom: 18px;
}

h6 {
    color: #548fc3;
    text-decoration: underline;
    text-decoration-color: #548fc3;
    padding-bottom: 18px;
}

.em {
    font-style: italic;
}

.bold {
    font-weight: bolder;
}

.apice {
    font-size: 0.8em;
    vertical-align: super;
    margin-left: 0.2em;
}

.code-box {
    width: 90%;
    box-shadow: 0 0.2rem 0.5rem #d8d8d8,0 0 0.0625rem #d8d8d8!important;
    border-radius: 0.25rem;
    border-left: 0.2rem solid;
    border-color: #74a9d4;
    margin: 1.5625em auto;
    background-color: #f3f3f3;
    padding: 0 0.75rem 0.8rem;
    white-space: pre-wrap;
}

code {
    color: #555;
}

.comment {
    font-style: italic;
    color: #999999;
}

#displayed-content a {
    color: #74a9d4;
}

